<table class="table table-hover">
  <thead>
  <tr>    
    <th>Score</th>
    <th>Rated by</th>
  </tr>
  </thead>

  <tbody>
  <% ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>